body {
    font-family: 'Poppins', sans-serif;
}
h2 {
    font-size: 40px;
}
.top-banner {
    display: flex;
}
.half-width {
    width: 34%;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 60px;
    margin-bottom: 60px;
}
.half-width img {
    height: 85%;
    width: 100%;
}
.link-button {
    text-decoration: none;
    background-color: tomato;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
}
.text-orange {
    color: orange;
}
#vertical-line {
    border-left: 4px solid tomato;
}
#focused-mission {
    margin: 0px 0px 0px 12px;
}